body{
    
    background-color: #1b244a;
}
.container {
    display: flex;
    justify-content: space-around;
    /* font-family:"Cursed Timer ULiL", sans-serif; */
}

h3{
    color:#fff;
    text-align: center;
}

.home-box , .guest-box {
    
    margin: 0px;
    width: 140px;
    height: 170px;
    border-radius: 6px;
    background-color: #000;
    font-size: 60px;
   
    
    


}
.home-box p, .guest-box p {
  color: #f94f6d;
  text-align: center;
  font-size: 50px;
  padding-top: 60px;
  font-family: "Cursed Timer ULiL", sans-serif;
  margin-top: 0px;
}
    


.stats-box  {
    
    margin: 0px;
    width: 140px;
    height: 170px;
    border-radius: 6px;
    background-color:#9aabd8 ;
    font-size: 60px;
}

.stats-box p {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    font-family: "Cursed Timer ULiL", sans-serif;
    margin-top: 0px;
}





