body{
    
    background-color: #1b244a;
}
.container {
    display: flex;
    justify-content: space-around;
    /* font-family:"Cursed Timer ULiL", sans-serif; */
}

h3{
    color:#fff;
}

.home-box , .guest-box{
    margin: 0px;
    width: 120px;
    height: 155px;
    border-radius: 3px;
    background-color: #000;
    font-size: 50px;
    
    


}
.home-box p, .guest-box p {
  color: #f94f6d;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  font-family: "Cursed Timer ULiL", sans-serif;
  margin-top: 0px;
}
    

.stats-box{
    border-radius: 3px;
    font-size: 40px;
    background-color: #9aabd8;
}