body{
    
    background-color: #1b244a;
}
.container {
    display: flex;
    justify-content: space-around;
}

h3{
    color:#fff;
}

.home-box , .guest-box{
    width: 120px;
    height: 155px;
    border-radius: 3px;
    background-color: #000;
    font-size: 50px;
    
    


}
.home-box p , .guest-box p{
    color: rgb(219, 61, 61);
    font-family: "Cursed Timer ULiL", sans-serif;
    text-align: center;
}